@import './colors';
@import './mixins';

.second-section{
    background-color:$main-color;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    
    @include breakpoint-down(small){
        padding: 1.9rem;
        height: 100%;
        } 
}

.allcart{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap: 2rem;

    @include breakpoint-down(small){
       display: block;
       margin-bottom: 2rem;
        } 

    .cart{
        height: 100%;
        width: 100%;
        cursor: pointer;
        @include breakpoint-down(small){
            margin-bottom: 3rem;
             } 

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}